/*Use Flexbox to make the divs appear as a grid (versus just one on each line). 
Despite the name, do not be tempted to research or use CSS Grid, as it will be taught in a later lesson after the foundations path. 
This project is an opportunity specifically to practice Flexbox!
Be careful with borders and margins, as they can adjust the size of the squares!
“OMG, why isn’t my grid being created???”
Did you link your CSS stylesheet?
Open your browser’s developer tools.
Check if there are any errors in the JavaScript console.
Check your “elements” panel to see if the elements have actually shown up but are somehow hidden.
Go willy-nilly and add console.log statements in your JavaScript to see if it’s actually being loaded. */

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
}